<h1 style="margin: 10px;">Login</h1>

<div style="margin: 10px;" fxLayout="column" fxLayoutAlign="start start"  >


<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" style="margin: 10px;" fxLayout="column" fxLayoutAlign="start start">

  <mat-form-field fxFlex="100%">


    <input matInput placeholder="Email" value="Email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
  </mat-form-field>

  <mat-form-field fxFlex="100%">
    <input matInput type="password" placeholder="Password" value="Password" name="password" #password="ngModel" [(ngModel)]="user.password"
      required>
  </mat-form-field>

  <button mat-raised-button color="primary" style="margin-bottom: 10px" [disabled]=!loginForm.form.valid>Submit</button>

  <a [routerLink]="[ '/register' ]">Or register</a>





</form>





</div>
